.Row-1{
    
    width: 90%;
    /* margin-left: 20em; */
}
.dashboard-container{
    display: flex;
}
.form-container{
    display: flex;
}
.form-subcontainer{
    size: 100%;
    width: 80%;
}
.form-group{
    size: 100%;
    margin: 2.2em;
    
}
#form-button{
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-left: 24em;
}
.Product-container{
    display: flex;
}
.product-card{
    display: flex;
}

.product-card-image img{
   width: 80%;
   
   
   
}
.product-card-video{
    margin: 3em;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 6em;
}
.product-card-image h4{
 margin: 1em;
}
.Delivery-card{
   width: 80%;
   height: 200px;
   display: inline-flexbox;
   margin: 2em;
   margin-top: 1em;
   
}
.dashboard-container{
    display: flex;
}